language: haxe

haxe:
  - 3.4.7
  - stable
  - development

matrix:
  allow_failures:
    - haxe: development

install:
  - node -v && npm install
  - haxelib install hxnodejs
  - haxelib install closure
  - haxelib install uglifyjs

before_script:
  # - haxe build-viewer.hxml
  # - haxe build-tool.hxml

script:
  - node tool/test/test-suite.js
  - node tool/test/test-suite.js es6

deploy:
  - provider: script
    script: bash ./releaseHaxelib.sh $HAXELIB_PWD
    on:
      haxe: stable
      tags: true
  - provider: npm
    email: "philippe.elsass@gmail.com"
    api_key: $NPM_KEY
    on:
      haxe: stable
      tags: true
