language: haxe

haxe:
  - "3.4.4"
  - stable
  - development

matrix:
  allow_failures:
    - haxe: development

install:
  - node -v && npm install
  - haxelib install hxnodejs

before_script:
  - haxe build.hxml

script:
  - node tool/test/test-suite.js
